// Visual identity
$primary-color: #ef7b00;
$secondary-color: #2d3034;

// Background
$background: #101b4b;
$background-dark: #020720;
$background-gray: #f5f5f5;

// Text
$font-size: 14px;
$text-color: #777;
$text-color-dark: #333;
$primary-font: 'Open Sans';
$secondary-font: 'Montserrat';

// Colors
$pink: #f0f;
$blue: #0ff;

// Misc
$transition: all 0.2s ease-in-out;
$height-relative: calc(100vh - 100px);